.gridDiv {
  margin: auto;
  width: 90vmin;
  height: 90vmin;
  border: 0.1vmin solid black;
  background-color: hsla(360, 100%, 5%, 1);
  display: grid;
  grid-template-rows: repeat(50, 1fr);
}

.rowDiv {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  max-height: calc(90vw/50);
}

.cellDiv {
  border: 0.1vh solid black;
  border-radius: 50%;
  background-color: green;
  max-height: calc(90vw/50);
  cursor: pointer;
}

.awake {
  background-color: red;
}

.asleep {
  background-color: green;
}
